:root {
    --menu-width: 226px;
    --top-header-height: 48px;
    --primary-color: #fff99;
    --border-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.align-item-money {
    text-align: end;
}