@import url("./common/button.css");
@import url("./layout/header.css");
@import url("./variable/variable.css");
@import url("./layout/menu.css");
@import url("./layout/content.css");
@import url("./layout/footer.css");
@import url("./layout/dialog.css");
body {
    margin: 0;
    padding: 0;
    font-family: MISAGoogleSans-Regular;
    font-size: 13px;
    background-color: var(--primary-color);
}

@font-face {
    font-family: MISAGoogleSans-Regular;
    src: url('../../Resource/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSan-Bold;
    src: url('../../Resource/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSan-Italic;
    src: url('../../Resource/font/GoogleSans-Italic.otf');
}