#list{
    height: cacl(100vh-47px);
    flex:1;
    margin: 12px;
    display: block;
    
}



.top-of-list{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.add-att{
    display: flex;
    align-items: center;
}

.add-mems-icon{
    background-image: url('../../../Resource/icon/add.png');
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right:8px ;
}

.search{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 24px;
    /* background-color: rgb(0, 217, 255); */
}

.search_places{
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.search_places__code{
    
    height: 40px;
    width: 320px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 40px;
    background-image: url('../../../Resource/icon/search.png');
    background-position-y: center;
    background-position-x: 16px;
    border: 1px solid #BBBBBB;
}

.search_places__department{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #BBBBBB;
    justify-content: space-between;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.search_places__department_text{
    margin-left: 16px;
}

.search_places__position_text{
    margin-left: 16px;
}

.search_places__position{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #BBBBBB;
    justify-content: space-between;
    border-radius: 4px;
    margin-left: 16px;
    cursor: pointer;
}

.refresh{
   
    height:40px;
    width: 40px;
    
    border-radius: 4px;
    border: 1px solid #BBBBBB;  
    align-items: center;
    display: flex;
    justify-content: center;
}

.refresh-icon{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../Resource/icon/refresh.png');
    cursor: pointer;
}

.grid{
    box-sizing: border-box;
    width: 100%; 
    /* height: calc(100%-47px -40px -8px -16px -56px -24px); */
    height: 730px;
}

.employees-title{
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  table thead{
        display: table;
        width: 100%;
        table-layout: fixed;
  }

  table tbody{
      height: 680px;
      width: 100%;
      display: block;
      table-layout:auto;
      overflow-y: scroll;
  }
  
  td, th {    
    text-align: left;
    padding: 8px;
 }
 
 td{
     width: 220px;
 }
td:nth-child(3) {
    text-align:;
 }

 th{
     width: auto;
 }
  
  tr:nth-child(even) {
    background-color: #e5e5e5;
  }

  .table-body{
      overflow-y: scroll;
  }