#header {
    height: var(--top-header-height);
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.header-left {
    display: flex;
    align-items: center;
    width: var(--menu-width);  
    border-right: 1px solid var(--border-color);
}

.toggle{
    width: 24px;
    height: 24px;
    margin: 12px 10px 12px 16px;
    background-image: url("../../../Resource/img/toggle.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-size:contain ;
}

.logo{
    height: 24px;
    width: 100px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../Resource/img/cukcuk-logo.png");
}

.header-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant{
    height: 30px;
    line-height: 30px;
    padding: 0px 16px;
    font-size: 13px;
    color:black;
    margin-left: 10px;
    position: relative;
    border-radius: 4px;

    cursor:pointer;
    transition:all 0.3s ease;
    border: 1px solid #BBBBBB;
    user-select: none;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
}



.restaurant__icon{
    position: relative;
    top:35%;
    color: #000;
    font-size: 12px; 
    margin-left: 10px;
}

.restaurant__dropdown {
    border-radius: 4px;
    overflow: hidden;
    display: none;
    list-style: none;
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: #fff;
    width: 174px;
    
    /* height: 300px; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.restaurant__dropdown.show {
    display: block;
}

.restaurant__dropdown-item {
    padding: 4px 16px;
}
.restaurant__dropdown-item:hover {
    background-color: #019160;
    color: #fff;
}

.account {
   display: flex;
   position: relative;
    align-items: center;
   height: 100%;
   /* line-height: 47px; */

}

.account_icon{
    margin-right: 16px;
    margin-left: 16px;
    width: 16px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../../Resource/icon/option.png');
}

.account_image{
    margin-right: 16px;
    /* align-items: center; */
    height: 35px;
    width: 35px;
    background-image: url(../../../Resource/icon/avatar-default.png);
    background-repeat: no-repeat;
    background-size: contain;
}